{% extends 'ui/base.html' %}
{% load i18n %}
{% block additional-head %}
    <script>
        var allVillagesApplication = angular.module('AllVillagesApplication', ['ui.bootstrap']);

        allVillagesApplication.controller("allVillagesController", function ($scope, $http) {
            $http.get("{% url 'village-list' %}", {})
                .success(function(data) {
                    $scope.allVillages = data;
                });
        });
    </script>
{% endblock %}

{% block content %}
    <div ng-app="AllVillagesApplication">
        <input class="form-control" ng-model="filterText" />
        <div ng-controller="allVillagesController">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "id"|capfirst %}</th>
                        <th>{% trans "name"|capfirst %}</th>
                        <th>{% trans "x"|capfirst %}</th>
                        <th>{% trans "y"|capfirst %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="village in allVillages|filter:filterText">
                        <td><span ng-bind="village.id"></span></td>
                        <td><span ng-bind="village.name"></span></td>
                        <td><span ng-bind="village.x"></span></td>
                        <td><span ng-bind="village.y"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}